# Byte-compiled / optimized / DLL files
*__pycache__*
*.py[cod]
*$py.class
*.log
*.pot
*.pyc
*.pyo
*.db
*.sqlite3
*.sqlite
*.pkl
*.env
*.venv
env/
venv/
ENV/
env.bak/
venv.bak/
*.sqlite3

# Media and static files
/media
/staticfiles
/static

# IDE and editor files
.idea/
.vscode/

# Pytest cache
.pytest_cache/

# OS files
.DS_Store


logs
*.log

/media/userspace/*
/media/temp/*
*.code-workspace
*credentials*
*embeddings*
*.sqlite3
chroma_db/
*.dockerignore
*static